body { 
 /* background-image: url("assets/images/veggies.jpg"); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hide{
	display:none;
}

hr{
	width:1px solid grey;
}